
{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  #myid{
    background-image: url("{% static 'img/background1.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;

  }
  </style>

<div class="container" id="myid">
      
        <div class="row no-gutters">
          <div class="col-md-4 mt-4" >
            <img src="{% static 'img/user.jpg' %}" class="card-img-top" alt="..." style="height:100%;width: 80%;border-radius: 10px;">
            
            </div>
            <div class="col-md-6 mt-4">
              <br>
             

           
              
 - <span style="font-weight: 600;font-family:cooper;">Gary Vaynerchuk</span><br><br>
 <p style="font-weight: 300;font-family: Arial, Helvetica, sans-serif;">
“Social media is not a fad because it’s human.”
<br><br>

When blogging first became popular, many thought that it was just a passing trend. But it has stuck around – and more than that, only strengthened over time.
<br><br>
Social media is around for the long haul because we value our relationships with one another above just about everything else.  A blog entry isn’t just a block of text, but a slice of humanity and an opportunity to begin a real conversation.
             </p>
              
              </div>
            </div>
            </div>
            

{% endblock %}