{% extends 'base.html' %}
{% block content %}

<div class="container sm-6 mt-4 ">
<h4>Add Category</h4>
</div>

<div class="container justify-content-center mt-4">
    <div class="row">
      <div class="col-md-6 mr-4">

        <form method="post" novalidate action="" enctype='multipart/form-data'>
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="form-group mb-2">
                    <label for="{{ field.id_for_label }}">{{field.label}}</label>
                    {{field}}
                    {% for error in field.errors %}
                        <span class="help-block" style="color:red">{{error}}</span>
                    {% endfor %}
                </div>
            {% endfor %}
           
           <br>
                
                <button type="submit" class="btn btn-success">Submit</button>
                <a href="{% url 'home' %}" class="btn btn-light">Cancel</a>
           
        </form>
    </div>
       
        <div class="col-md-5">

            <a class="btn btn-outline-primary me-1" href="/blog/categorylist/">List Of Category</a>
       
                
         </div>
</div>
</div>

{% endblock %}