{% extends 'base.html' %}
{% block content %}


<div class="container justify-content-center align-items-center mt-4 ">
    <div class="row ">
      <hr>
      <h4>Category Of Blogs</h4>
      <hr>
    
      {% for category in categories %}
       <div class="col-sm-3 me-2" style="width: 15rem;">
        <a href="/blog/categoryblog/{{category.id}}" style="text-decoration: none;">
      <img src="{% if category.image %}{{ category.image.url }}{% endif %}" class="card-img-top" alt="..." style="height:50%;">
      <div class="card-body">
        <h5 class="card-title">{{category.category_name}}</h5>
        <p class="card-text">{% if category.description %} {{category.description|truncatechars:60}} {% endif %}</p>
       
      </div>
    </a>
   </div>
  
     {% endfor %}
  </div>
  </div>
{% endblock %}