{% comment %} <footer class="text-center text-white mt-4" style="background-color:#563f46;position: fixed;
left: 0;
bottom: 0;
width: 100%;
">
  
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
     
      <a class="text-light " href="{% url 'home' %}" style="color:azure;text-decoration: none;font-weight:400;">© 2020 Copyright:MyBlog.com</a>
    </div>
    <!-- Copyright -->
  </footer> {% endcomment %}

  {% comment %} ===================================================================== {% endcomment %}



{% comment %} <footer class="footerOverhidden" style="overflow:hidden;display: block;"> {% endcomment %}
  <footer class="footerOverhidden justify-container-center">
  <div class="homeFooterBg">
  <div class="container">
  <div class="homeFooterOne" >
    <img data-src="https://res.cloudinary.com/dfpzh53td/f_auto,q_auto/rentallscript-website/3ae5daf7-3a5e-4df5-99c1-e4c2193bd847_yuz2ey.png" class=" lazyloaded" alt="Clone scripts" src="https://res.cloudinary.com/dfpzh53td/f_auto,q_auto/rentallscript-website/3ae5daf7-3a5e-4df5-99c1-e4c2193bd847_yuz2ey.png" >
    <span class="footerReady">Ready to work with us?</span>
    {% comment %} <a href="/schedule-a-free-demo" class="footerTouchBtn">Get in touch</a> {% endcomment %}
    </div>
   

   <div class = "row mt-4">
       <div class ="col-sm-3">
      <p class="tt text-start">IT Support Services</p>
     <p class="lead text-start">   Managed IT Services<br>
        Cloud IT Services<br>
        Backup & Disaster Recovery<br>
        Security & Compliance<br>
        Professional Services
        </p>
    </div>
    <div class ="col-sm-3">
      <p class="tt text-start"> Company</p>
      <p class="lead text-start">
      About - Who we are !<br>
      Customer Testimonials<br>
      CareersWe're hiring<br>
      Contact<br>

      <p>
    </div>
     <div class ="col-sm-3">
      <p class="tt text-start">News and Events</p>
     <p class="lead text-start">
      Press Releases <br>
      Events <br>
      In the Community <br>
      E-Newsletter <br>
     </p>
    </div>
     <div class ="col-sm-3">
      <p class="tt text-start">About</p>
     <p class="lead text-start">
     Client Bill of Rights<br>
      Our History<br>
      Our Team<br>
      Partners<br>
      Certifications<br>
      Careers<br>
      Referral Program<br>
      Privacy Policy
     </p>
    </div>
    <div class ="col-sm-3">
      <p class="tt text-start">Solutions</p>
     <p class="lead text-start">
     Postach.io<br>
     Typepad<br>

     </p>
    </div>
    <div class ="col-sm-3">
     <p class="tt text-start"> Resources<p>
     <p class="lead text-start">
      Blog<br>
      How to create blog<br>
      Twitter trending topics<br>
      Yoast WordPress SEO plugin
     </p>
    </div>

    <div class ="col-sm-3" >
     <p class="tt text-start"> Contact Us<p>
     <i class="fa fa-phone">&nbsp;+91 6754329876</i><br>
     <i class="fa fa-whatsapp" >&nbsp;Whatsapp</i><br>
     <i class="fa fa-envelope">&nbsp;Blogwebkrone@webkrone.com</i><br>
    </div>
    <div class ="col-sm-3">
     <p class="tt text-start">
     <span style="color:azure;">Social</span><br></p>
     <i class="fa fa-facebook-f"></i>
     <i class="fa fa-twitter"></i>
     <i class="fa fa-linkedin-square"></i>
     <i class="fa fa-youtube-play"></i>
     <i class="fa fa-instagram"></i>
    </div>
 
   </div>
 
  
   </div>
  </div>

</footer>