{% extends 'base.html' %}
{% load static %}
{% block content %}




<div class="container">
    <div class="row justify-content-md-center pt-5">
    <div class="col-md-8">
    <div class="row">
      <div class="col-10"></div>
      {% if post.author == user %}
      <div class="col-1 "><h3><a class="btn btn-outline-primary" href="/blog/edit/{{post.slug}}">Edit</a></h3></div>
      <div class="col-1"><h3><a class="btn btn-outline-danger" href="/blog/delete/{{post.slug}}">Delete</a></h3></div>
        
      {% endif %}
    </div>
        <br/>
        <br/>
        <div class = "row">
          <h3>{{post.title}}</h3>
        <div class="col-6"><p>{{post.publish}} by <b>{{post.author}}</b></p>
          {% if post.tags.all %}
          <b>Tags : </b>
          {{ post.tags.all|join:", " }}
          {% endif %}
          
          <p><b>Category :</b> {{post.category}}</p>
        </div>
        <div class="col-6">  
            <img class="card-img-top" style="height:300px;width:400px;" src="{% if post.image %}{{ post.image }}{% endif %}">
            
          <!-- <img class="card-img-top" style="height:300px;width:400px;" src="{% if post.image %}{{ post.image.url }}{% endif %}">
               -->
          </div>
        </div>
        <br/>
      <div class="col-12"><p>{{post.body|safe}}</p></div>
      <br/>
      
     
      <br>
      
    </div>
    </div>
  </div>

  

<div class="container justify-content-center align-items-center mt-4 ">
  <div class="row ">
    {% if related_blog %}
    <h4>Related Blogs</h4>
    <hr>
    
    <h4>{{post.category}}</h4>
    {% endif %}
    {% for blog in related_blog %}

     <div class="col-sm-3 me-4" style="width: 20rem;">
      <a href="/blog/blogdetailview/{{blog.slug}}" style="text-decoration: none;">
    <img src="{% static 'img/img1.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{blog.title}}</h5>
      <p class="card-text"> {{blog.body|truncatechars:50}}</p>
      
    </div>
    </a>
 </div>
   {% endfor %}
</div>
</div>
{% endblock %}