{% extends 'base.html' %}
{% load static %}
{% block content %}




<div class="container">
    <div class="row justify-content-md-center pt-5">
    <div class="col-md-8">
      <div class="col-12"><h1>{{post.title}}</h1></div>
        <br/>
        <br/>
        <div class="col-12"><p><b>{{post.published_at | date:"M d, Y"}} by {{post.author}}</b></p></div>
        <br/>
      <div class="col-12"><p>{{post.body|safe}}</p></div>
      <br/>
      <div class="col-12"><p>{{post.status}}</p></div>
      <br/>
      <div class="col-12"><p>{{post.category.category_name}}</p></div>
    </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-md-center pt-5">
  {% for image in images %}
  
  
    <div class="col-md-4">  
      <img class="card-img-top" style="height:200px;width:300px;" src="{% if image.image %}{{ image.image.url }}{% endif %}">
          
      </div>
  
      
{% endfor %}
</div>
</div>
{% endblock %}