{% extends 'base.html' %}
{% block content %}

<div class="container justify-content-center align-items-center sm-6">
    <h3><p class="text-center">Add New Blog</p></h3>
    <label for="formGroupExampleInput" class="form-label">Title</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Title"><br>
    <label for="formGroupExampleInput2" class="form-label">Descripton</label>
    <textarea class="form-control" id="formGroupExampleInput2" placeholder="Descripton">
    </textarea>
    <br><br>
    <button type="submit" class="btn btn-primary">Submit</button>

</div>
  


{% endblock %}